// Viewports

$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

// Fonts

$roboto: "Roboto", "Arial", sans-serif;
$roboto-slab: "Roboto Slab", "Georgia", serif;
$open-sans: "Open Sans", "Tahoma", sans-serif;

// Colors

$white: #ffffff;
$black: #000000;
$blue: #3d3bff;
$dark-grey: #657195;
$light-grey: #f6f7fd;
$lighten-grey: #e6e8f0;
